<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>{% block title %}My Portfolio{% endblock %}</title>
</head>
<body>
    <header>
        <div class="profile-picture-header">
            <img src="{{ url_for('static', filename='uploads/profile.jpg') }}" alt="Profile Picture" id="profile-dropdown-toggle">
            <div id="profile-dropdown" class="dropdown-menu">
                <a href="{{ url_for('home')}}" class="{% if request.path == url_for('home') %}active{% endif %}">Home</a>
                <a href="{{ url_for('about')}}" class="{% if request.path == url_for('about') %}active{% endif %}">About</a>
                <a href="{{ url_for('portfolio')}}" class="{% if request.path == url_for('portfolio') %}active{% endif %}">Portfolio</a>
                <a href="{{ url_for('contact')}}" class="{% if request.path == url_for('contact') %}active{% endif %}">Contact</a>                
            </div>
        </div>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('portfolio') }}">Portfolio</a>
            <a href="{{ url_for('contact') }}">Contact</a>

            <!--- Conditional links for admin--->
            {% if session.get('is_admin') %}
             <a href="{{ url_for('upload') }}">Upload</a>
             <a href="{{ url_for('admin_projects') }}">Admin Projects</a>
             <a href="{{ url_for('admin_messages') }}">Admin Messages</a>
             <a href="{{ url_for('admin_skills') }}">Manage Skills</a>
             <a href="{{ url_for('logout') }}">Logout</a>
             {% endif %}
        </nav>
    </header>
    <script>
        const profileToggle = document.getElementById('profile-dropdown-toggle')
        const dropdownMenu = document.getElementById('profile-dropdown')

        profileToggle.addEventListener('click',() => {
            const isDisplayed = dropdownMenu.style.display === 'block';
            dropdownMenu.style.display = isDisplayed ? 'none' : 'block';
        });

        // Close the dropdown when clicking outside
        document.addEventListener('click', () => {
            if(!profileToggle.contains(event.target) && !dropdownMenu.contains(event.target)){
                dropdownMenu.style.display = 'none';
            }
        });
    </script>
    <script>
        document.querySelectorAll('.previous-arrow, .next-arrow').forEach((arrow)=>{
            arrow.addEventListener('click', event=>{
                event.preventDefault();
                const targetURL = event.target.href;
                document.body.style.opacity = 0; // Fade-out effect
            setTimeout(() => {
                window.location.href = targetURL;
            }, 300); // Adjust delay to match fade-out duration
        });
    });

    window.addEventListener('load', () => {
        document.body.style.transition = 'opacity 0.3s';
        document.body.style.opacity = 1; // Fade-in effect
    });
    </script>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2025 COLLINS KIPROTICH</p>
        <div class="page-navigation">
            {% block navigation %}{% endblock %}
        </div>
        <p class="follow-message"><strong>You can follow me on:</strong></p>
        <div class="social-media">
            <a href="https://facebook.com/yourusername" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/yourusername" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/collins-kiprotich-b82119211/?lipi=urn%3Ali%3Apage%3Ad_flagship3_job_details%3BVSckVMgPTAWpnysG2%2FQItw%3D%3D" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://instagram.com/yourusername" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/COLLINS572615" target="_blank"><i class="fab fa-github"></i></a>
        </div>

    </footer>
</body>
</html>
