<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}My Portfolio{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('portfolio') }}">Portfolio</a>
            <a href="{{ url_for('contact') }}">Contact</a>

            <!--- Conditional links for admin-->
            {% if session.get('is_admin') %}
             <a href="{{ url_for('upload') }}">Upload</a>
             <a href="{{ url_for('admin_projects') }}">Admin Projects</a>
             <a href="{{ url_for('admin_messages') }}">Admin Messages</a>
             <a href="{{ url_for('logout') }}">Logout</a>
             {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2025 COLLINS KIPROTICH</p>
    </footer>
</body>
</html>
