{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero">
    <h1>Welcome to My Portfolio</h1>
    <p><strong>Your one-stop destination to view my projects and skills!!</strong></p>
    <button onclick="window.location.href='{{ url_for('portfolio') }}'">Explore my work</button>
</div>

<div class="profile-section">
    <img src="{{ profile_picture }}" alt="Profile Picture" class="profile-picture">
    <p>{{ about_text }}</p>
</div>
{% endblock %}

{% block navigation %}
<div class="navigation-arrows">
    <a href="{{ url_for('about') }}" class="next-arrow">→</a>
</div>
{% endblock %}

